/* el elemento padre del documento */
:root {
	background-color: lightblue;
}

/* elemento cargado por un link */
:target {
	background-color: #384047;
	color: white;
}

#col-c:target {
	background-color: #eff1f2;
	color: initial;
	box-shadow: 0 0 6px rgba(0,0,0, .2);
}

/* todos menos ... */
div:not(#col-a) {
	border: 1px solid red;
}

input:not([type="submit"]) {
	box-shadow: 0 2px 0 rgba(0,0,0, .2);
}

.col:not(:first-child),
nav a:not(:first-child)  {
	margin-left: 15px;
}




